@font-face {
	font-family: 'Old-Soviet';
	src: url('fonts/Old-Soviet.eot');
	src: local('☺'), url('fonts/Old-Soviet.woff') format('woff'), url('fonts/Old-Soviet.ttf') format('truetype'), url('fonts/Old-Soviet.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

* {
    padding: 0px;
    margin: 0px;
    list-style-type: none;
}
html{
    background:url(images/1645391885_16-phonoteka-org-p-chernii-matovii-tsvet-fon-19.jpg);
    min-height:100%;
    background-size:cover;
}
.main_info{
    position: absolute;
    height: 17%;
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color:rgba(185, 141, 98, 0.3);;
    border-radius: 0px 0px 15% 15%;
    align-items: center;
    box-shadow: 0 0 5px 5px;
}
.menu {
    height: 50%;
    width: 70%;
    background-color: rgb(23, 25, 25);
    margin-left: 30%;
    justify-content: center;
    position: relative;
    border-radius: 50px 0 0 50px;
}
.Logo {
    height: 15%;
    width:7.4%;
    background-image: url(images/Безымянный.png);
    border-radius: 1000px;
    min-height:1%;
    background-size:cover;
    position: fixed;
    margin-left: 7%;
}
.line_in_menu {
    height: 3px;
    width: 0;
    background-color: rgb(205, 196, 180);
    transition-duration: 1s;
    right: 0;
    bottom: 0px;
    position:absolute;
    border-radius: 50px 0 0 50px;
}
.menu:hover .line_in_menu{
    width: 97%;
}
nav {
    position: absolute;
    display: flex;
    justify-content: center;
}
.list {
    font-family: "Old-Soviet";
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: 100%;
}
.list_item_link {
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: #CDCDCD;
    text-decoration: none;
}
.list_item_link:hover {


}
.list_item_link:active {
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: #FAFAFA;
    border-bottom: 3px solid #F1CDB3;
}