@font-face {
	font-family: 'Old-Soviet';
	src: url('fonts/Old-Soviet.eot');
	src: local('☺'), url('fonts/Old-Soviet.woff') format('woff'), url('fonts/Old-Soviet.ttf') format('truetype'), url('fonts/Old-Soviet.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

* {
    padding: 0px;
    margin: 0px;
    list-style-type: none;
    box-sizing: border-box;
}
html{
    background:url(images/1645391885_16-phonoteka-org-p-chernii-matovii-tsvet-fon-19.jpg);
    min-height:100%;
    background-size:cover;
}
.Block{
    height: 100%;
    width: 100%;
    justify-content: center;
}
.main_info{
    height: 6.7em;
    width: 100%;
    display: flex;
    background-color:rgba(185, 141, 98, 0.3);
    border-radius: 0px 0px 15% 15%;
    align-items: center;
    box-shadow: 0 0 5px 5px;
}
.menu {
    height: 50%;
    width: 70%;
    background-color: rgb(23, 25, 25);
    margin-left: 15%;
    justify-content: center;
    position: relative;
    border-radius: 50px 0 0 50px;
}
.Logo {
   height: 90%;
   width: 11%;
   margin-left: 8%;
}
.exmpl {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .exmpl img {
    height: 100%;
    width: 100%;
}
.line_in_menu {
    height: 3px;
    width: 0;
    background-color: rgb(205, 196, 180);
    transition-duration: 1s;
    right: 0;
    bottom: 0px;
    position:absolute;
    border-radius: 50px 0 0 50px;
}
.menu:hover .line_in_menu{
    width: 97%;
}
nav {
    position: absolute;
    display: flex;
    justify-content: center;
}
.list {
    font-family: "Old-Soviet";
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: 100%;
}
.list_item_link {
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: #CDCDCD;
    text-decoration: none;
}
.list_item_link:hover {
    text-shadow: 0px 0px 10px rgb(110, 107, 99);
}
.list_item_link:active {
    text-shadow: none;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: #8f8e8c;
}
.home_content {
    margin-top: 1%;
    margin-left: 20%;
    height: 75%;
    width: 60%;
    border-radius: 20px;
    position: absolute;
    background-image: url(images/list3.jpg);
    background-repeat: round space;
}
.home_content:hover {
    box-shadow: 0px 0px 18px 10px rgb(154, 153, 151, 0.3);
}