* {
    padding: 0px;
    margin: 0px;
    list-style-type: none;
}
html{
    background:url(images/1645391885_16-phonoteka-org-p-chernii-matovii-tsvet-fon-19.jpg);
    min-height:100%;
    background-size:cover;
}
.main_info{
    position:absolute;
    height: 20%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.menu {
    height: 50%;
    width: 90%;
    background-color: aqua;
    margin-left: 20%;
}
.Logo {
    height: 100%;
    width:13%;
    background-image: url(images/Безымянный.png);
    border-radius: 150px;
    min-height:1%;
    background-size:cover;
    border: 5px solid rgba(255, 255, 255, .5);
}

